<div class="container">
    <hr class="style7">
    <h3>OVERVIEW</h3>
    <hr class="style7">
    <div class="row">
        <div class="col-sm-6">
            <p style="text-align:left;">
                Open
                <span style="float:right;">
                    <b>{{lst.Open}}</b>
                </span>
            </p>
            <hr style="border-top: dotted 1px;" />
            <p style="text-align:left;">
                Previous close
                <span style="float:right;">
                    <b>adj close</b>
                </span>
            </p>
            <hr style="border-top: dotted 1px;" />
            <p style="text-align:left;">
                Day high
                <span style="float:right;">
                    <b>{{lst.High}}</b>
                </span>
            </p>

        </div>
        <div class="col-sm-6">
            <p style="text-align:left;">
                Day low
               
            </p>
            <hr style="border-top: dotted 1px;" />
            <p> 52 Week High 
                <span style="float:right;">
                    <b>{{max}}</b>
                </span>
            </p>
            <hr style="border-top: dotted 1px;" />
            <p> 52 Week Low 
                <span style="float:right;">
                    <b>{{min}}</b>
                </span>
            </p>
        </div>
    </div>
</div>
